
body{
    margin: 0;
    /* padding: 0; */
}
.header{
    padding: 0 45px;
    background-color: #283593;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover{
    color: #c5cae9;
    transform: rotate(6deg);
}

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    margin-left: 20px;
}

.hero{
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}
.hero-inner{
    max-width: 760px;
}

